---
import FeaturedList from '../components/featured/FeaturedList.astro';
import Layout from '../components/Layout.astro';
---

<Layout title="Framework" description="Servers featured by Framework">
    <h1 class="text-3xl">Featured servers</h1>
    <br />

    <FeaturedList editMode={false} />
</Layout>
