---
import Layout from '../components/Layout.astro';
import VersionList from '../components/version/VersionList.astro';

export const prerender = false;
---

<Layout title="Framework - Versions" description="Framework versions list">
    <h1 class="text-3xl">Versions</h1>
    <br />

    <VersionList editMode={false} />
</Layout>
